body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    user-select: none;
}
body * {
    touch-action: none;
}

div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
}

ul.menu {
    position: absolute;
    margin: 0;
    padding: 0;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    list-style: none;
}

ul.menu li {
    position: absolute;
    margin-left: 210px;
    margin-top: 210px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
}

ul.menu li:first-child {
    margin-left: 0;
    margin-top: 0;
    width: 500px;
    height: 500px;
    border: solid 10px #afdbdc;
}
ul.menu li:first-child.no-background {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font: 5em bold;
    color: #ffffff;
    background: none;
    background-color: rgba(0, 0, 0, 0.5);
}
ul.menu li:first-child.ready {
    border-color: #00ff00;
}

ul.menu li.hand {
    background-image: url(../img/logo.png);
}
ul.menu li.meteo {
    background-image: url(../img/meteo.png);
}
ul.menu li.calculation {
    background-image: url(../img/calculation.png);
}
ul.menu li.automation {
    background-image: url(../img/automation.png);
}
ul.menu li.morpion {
    background-image: url(../img/morpion.png);
}
ul.menu li.collab {
    background-image: url(../img/collab.png);
}
