**/node_modules/
**/npm-debug.*
**/build/
**/.settings/
**/.project
**/.idea/
**/.gitignore
**/.dockerignore
**/.gradle/
**/gradle/
**/gradlew
**/gradlew.bat
**/*.gradle
**/package-lock.json
ITAC-Core/artifacts/
ITAC-Core/artefacts/
ITAC-Core/artifact/
ITAC-Core/sessions/
ITAC-Core/session/