<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="stylesheet"  href="/stylesheets/style.css" />
    <% include entete %>
	<script language="JavaScript" type="text/javascript" src="/javascripts/dragITAC.js"></script>
  </head>

  <body onload="date('date');initLogo()">
	<div id="center0">
	<table id="content" border="0" class="center">
		<tr>
			<td class="info" colspan=3>
				<div id="date"></div>
			</td>
		</tr>
		<tr>
			<td>
			  <table  border="0">
				<tr>
					<td class="menu"><div id="dvSource"><img  src="images/rond.png" class="menugauchedecalmaxdroite" id="itacapp-collab" onclick="changeImage(paramITAC,'itacapp-collab')"/></div></td>
				</tr>
				<tr>
					<td><div id="dvSource"><img src="images/meteo.png"  class="menugauchedecalcentre" id="itacapp-meteo" onclick="changeImage(paramITAC,'itacapp-meteo')"/></div></td>
				</tr>
				<tr>
					<td><div id="dvSource"><img src="images/check.png" class="menugauchedecalmaxgauche" id="itacapp-check" onclick="changeImage(paramITAC,'itacapp-check')"/></div></td>
		 		</tr>
				<tr>
					<td><div id="dvSource"><img src="images/symboles.png" class="menugauchedecalcentre" id="itacapp-calcul" onclick="changeImage(paramITAC,'itacapp-calcul')"/></div></td>
				</tr>
				<tr >
					<td><div id="dvSource"><img src="images/parametres.png" class="menugauchedecalmaxdroite" id="itacapp-param" onclick="changeImage(paramITAC,'itacapp-meteo')"/></div></td>
				</tr>					
			  </table>		
			</td>		
					
			<td  ><div id="change"><div id="droppable"></div></div></td>
			
			<td>
		 		<table id="" border="0">
					<tr>
						<td class="menu"><div id="dvSource"><img src="images/maison.png" class="menudroitedecalmaxgauche" id="itacapp-morpix" onclick="changeImage(paramITAC,'itacapp-morpix')"/></div></td>	
					</tr>
					<tr>			
						<td><img src="images/morpion.png" class="menudroitedecalcentre" id="itacapp-morpix" onclick="changeImage(paramITAC,'itacapp-morpix')"/></td>
					</tr>
					<tr>				
						<td><img src="images/couronne.png" class="menudroitedecalmaxdroite" id="couronne" onclick="changeImage(8)"/></td>
					 </tr>
					<tr>						
						<td><img src="images/rond.png" class="menudroitedecalcentre" id="rond2" onclick="changeImage(9)"/></td>
					</tr>
					<tr>						
						<td class="menu"><div id="dvSource"><img src="images/rond.png" class="menudroitedecalmaxgauche" id="itacapp-collab-config1" onclick="changeImage(paramITAC,'itacapp-collab-config1')"/></div></td>
					</tr>
				</table>	
			</td>
		</tr>
	
		<tr>
			<td  class="info" colspan=3>
				<div id="heure"></div>
			</td>
		</tr>
	</table>
	</div>
  </body>
</html>