<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

	<% include entete %>.



		<script language="JavaScript" src="/javascripts/morpion/ctrlMorpion.js" type="text/javascript"></script>
		<script language="JavaScript" src="/javascripts/morpion/viewMorpion.js" type="text/javascript"></script>
		<script language="JavaScript" src="/javascripts/morpion/Morpion.js" type="text/javascript"></script>
		
	    <link rel="stylesheet" type="text/css" href="/stylesheets/styleMorpion.css"/>
</head>
	<body>
		<a href="/" id="menu">Revenir au menu</a>
		<table class="morpion">
			<tr>
				<td id="lgn0col0" onclick="ctrl_morpion(0,0,tt_morpion);" background="images/morpion/1.jpg" class="animated" class="fadeOut"></td>
				<td id="lgn0col1" onclick="ctrl_morpion(0,1,tt_morpion);" background="images/morpion/2.jpg" class="animated" class="fadeOut"></td>
				<td id="lgn0col2" onclick="ctrl_morpion(0,2,tt_morpion);" background="images/morpion/3.jpg" class="animated" class="fadeOut"></td>
			</tr>
			<tr>
				<td id="lgn1col0" onclick="ctrl_morpion(1,0,tt_morpion);" background="images/morpion/4.jpg" class="animated" class="fadeOut"></td>
				<td id="lgn1col1" onclick="ctrl_morpion(1,1,tt_morpion);" background="images/morpion/5.jpg" class="animated" class="fadeOut"></td>
				<td id="lgn1col2" onclick="ctrl_morpion(1,2,tt_morpion);" background="images/morpion/6.jpg" class="animated" class="fadeOut"></td>
			</tr>
			<tr>
				<td id="lgn2col0" onclick="ctrl_morpion(2,0,tt_morpion);" background="images/morpion/7.jpg" class="animated" class="fadeOut"></td>
				<td id="lgn2col1" onclick="ctrl_morpion(2,1,tt_morpion);" background="images/morpion/8.jpg" class="animated" class="fadeOut"></td>
				<td id="lgn2col2" onclick="ctrl_morpion(2,2,tt_morpion);" background="images/morpion/9.jpg" class="animated" class="fadeOut"></td>
			</tr>
		</table>
		<div id="info">
			<p><center>
				C&rsquo;est au tour de <span id="joueur"> <img src="images/morpion/rond.png" width="60%" /> </span><br />
				<img src="images/morpion/croix.png" width="30%" /> : <span id="scorecroix"> 0 </span> points <br />
				<img src="images/morpion/rond.png" width="30%" /> : <span id="scorerond"> 0</span> points
			</p></center>
		</div>
		<div class="clr"></div>
		<div id="gain"></div> 
	</body>
</html>