<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- PP : le code suivant integre toutes les bibliotheque necessaire au workspace -->
    <% include enteteWorkspace %>
	         
    <!-- PP : le code suivant gere la connexion au serveur et les traitement des evenements echange avec le serveur -->
	<% include connexionApp %>
	
	<!-- TC: Script javascript qui se charge de la gestion des artefacts -->
    <script language="JavaScript" type="text/javascript" src="/js/artefactsApp.js"></script>
    
	<!-- TC: Script javascript qui se charge de la gestion des zones d échanges -->
    <script language="JavaScript" type="text/javascript" src="/js/zoneEchangeApp.js"></script>
  </head>               
  <body id="ZP">
 	 <div id="menu" class="menu hand"></div>
   <!-- TC: Petite subtilité pour changer le fond: bouton invisible qui permet d'ouvrir une sélection de fichier lorsqu'on est sur le menu change-->
        <input id="file" style="display:none;" type="file" multiple/>   
  </body > 
</html>

 	
  
  