<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body oncontextmenu="return false;">
<div>
    <ul class="menu">
        <li class="hand"></li>
        <li class="meteo" data-name="Météo" data-url="meteo"></li>
        <li class="calculation" data-name="Calculatrice" data-url="calcul"></li>
        <li class="automation" data-name="Domotique" data-url="domotique"></li>
        <li class="morpion" data-name="Jeu du Morpion" data-url="morpion"></li>
        <li class="collab" data-name="Travail Collaboratif" data-url="collab/session/config"></li>
    </ul>
</div>
<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/js/lib/interact.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>