<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<a href="/" id="menu">Revenir au menu</a>
<h1 class="titre">DOMOTIQUE</h1>
<div id="wrap">
    <div id="bouton">
        <a id="on" href="onLUmiere.py"> ON</a>
    </div>
    <div id="off">
        <a id="off" href="offLumiere.py"> OFF</a>
    </div>
    <div id="etat">
        <h2>&Eacute;tat des lumières</h2>
        <img src="img/lampe_active.png" width="10%">
        <img src="img/lampe.png" width="10%">
        <div id="wrap_lamp">
            <p>Lumières chambre</p>
            <p>Lumières chambre</p>
        </div>
    </div>
    <div id="amb">
        <h2>Luminosité ambiente</h2>
        <img src="img/sun_active.png" width="25%">
        <img src="img/moon.png" width="10%">
    </div>
</div>
</body>
</html>