body{
	

	margin: 0;
	background-image:url('../images/fondITAC2.jpg');
	/* background-image:url('../images/logoITAC.png'); */
	
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	background-size: cover;
  		width: auto;
		background-repeat: repeat-y;
}

.infoZP{
	
	margin: 0 auto;
	border:2px dotted white;
	/*width:200px;*/
	color: white;
	font-family: Impact;
	font-size: 1.25em;

}


img
{
    height: 100px;
    width: 100px;
    margin: 2px;
}
.draggable
{
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.dropped
{
    position: static !important;
}







table.center{
	margin: 0 auto;
	/*margin-top: auto; */
}

#content img{
	position:relative;
	z-index: 999;
}

.milieu{
	text-align= left; vertical-align: top; 
		background-image:url('../images/logoITAC.png');
	/*background-image:url('../images/logoITAC.png');*/
	/*height: 552px; width: 552px; */

}

.menu {
	 text-align= left; 
	 vertical-align: top; 
	 height: 100px; 
	 width: 160px; 
}

.info {
	 text-align= center; vertical-align: top; height: 120px; 
}


.menugauchedecalmaxgauche{
	margin-left:5px;
}

.menudroitedecalmaxgauche{
	margin-left:0px;
}

.menugauchedecalcentre{
	margin-left:20px;
}
.menudroitedecalcentre{
	margin-left:40px;
}

.menudroitedecalmaxdroite{
	margin-left:55px;
}
.menugauchedecalmaxdroite{
	margin-left:60px;
}



.centredroit{
	/*margin-left:20px;*/
}

#change{
	/* trace un cercle en arrondissant les coins */
	border:15px solid rgba(255,255,255,0.7);
	border-radius:50%;
	width:513px;
	height:515px;

/*	position:absolute;
	margin-left:685px;
	margin-top:-10px;*/
	z-index: 700;
}

#date{
	font-size:80px;
	color:white;
	font-family: Impact;
	/* margin-top:-150px; */
	text-align: center;
}

#heure {
	font-size:80px;
	color:white;
	font-family: Impact;
	text-align: center;
	/* margin-top:50px; */
}




a {
  color: #00B7FF;
}

